<div class="container">
  <h1 class="italic">User account</h1>

  <header>
    <% if current_user.admin? %>
      <h2><%= current_user.name %> <small> (Admin)</small></h2>
    <% else %>
      <h2><%= current_user.name %></h2>
    <% end %>
      <h5>(<%= current_user.email %>)</h5>
  </header>
  <br />
  <br />

  <% if current_user.standard? %>
    <p>To upgrade your account and gain access to private wikis, please click on the link below.</p>
    <%= link_to "Upgrade Account", new_charge_path %><br/><br/>
  <% end %>

  <% if current_user.premium? %>
     <p>If you are a premium user and would like to downgrade to a standard account, please click on the link below: </p>
     <%= link_to "Downgrade Account", downgrade_user_path(current_user), method: :patch, data: { confirm:  "Are you sure you want to dowgrade" } %><br/><br/>
  <% end %>
</div>
 