<div class="container", id="form">
  <div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-8">
      <div class="wrapper">
        <%= form_for @wiki do |f| %>
          <%= f.label :title, class: "label_ title_" %>
          <%= f.text_field :title, class: "input text-field" %><br />

          <%= f.label :body, class: "label_ body_" %>
          <%= f.text_area :body, class: "input text-area" %>
          <br />

          <% if current_user.role == 'admin' || current_user.role == 'premium' %>
            <div class="form-group">
              <%= f.label :private, class: 'label_2' do %>
                <%= f.check_box :private, class: "checkbox" %>Private wiki
              <% end %>

            </div>
          <% end %>

          <%= f.submit "Save", class: "d_button" %>
        <% end %>

        <%= form_tag collaborations_path do %>
          <%= hidden_field_tag :wiki_id, @wiki.id %>
          <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :name, 0), include_blank: true %>
          <%= submit_tag "Add collaborator" %>
        <% end %>

        <% @collaborators.each do |collaborator| %>
          <p><%= collaborator.email %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>
